<!DOCTYPE html>
<html>
<head>
  <title>Red Social</title>
</head>
<style>
  #cuadrosticky {
    position: sticky;
    top: 2%;
  }
  #banner {
    position: relative;
    left: 29%;
    top: 20%;
    width: 40%;
    height: 32%;
  }
  #logo {
    position: absolute;
    left: 0.1%;
    top: 1%;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
  }
  #boton-inicio-sesion {
    position: fixed;
    top: 10px;
    right: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(34, 156, 178);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #boton-inicio-sesion:hover {
    background-color: rgba(255, 166, 0, 0.648);
  }
  body {
    background-image: url("/img/FondoWiiThingy.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
  }
  .centro {
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);
    height: 380px; /* Altura total con la descripción*/
    width: 500px;
    background-color: #f0f0f0;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el texto dentro del div */
  }

  .pie {
    position: absolute;
    bottom: 2px;
    width: 99%;
    text-align: center;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #boton {
    width: 100%;
    padding: 10px;
    position: relative;
    top: 10px;
    font-size: 20px;
    background-color: rgb(34, 156, 178);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #boton:hover {
    background-color: rgba(255, 166, 0, 0.648);
  }

  #perfilcuadro {
    margin-bottom: 10px;
  }

  #nombre {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  #ubicacion, #aficiones {
    display: block;
    margin: 10px 0;
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  #chat {
    position: absolute;
    right: 76%;
    top: 66%;
  }

  #rechazar {
    position: absolute;
    left: 76%;
    top: 66%;
  }
  #perfil {
    position: absolute;
    left: 95%;
  }

</style>
<span id="perfil"><img src="/img/PerfilUsuario.png" width="60px" height="60px"></span>
<body>
  <div id="cuadrosticky">
    <button align="left" id="logo"><a href="/"><img src="/img/LogoAffinitySolSQRvar.png" width="100px"></a></button>
    <img id="banner" src="/img/LogoAffinitySolutions.png" width="">
  </div>
  <div class="centro">
    <span id="perfilcuadro"><img src="/img/PerfilUsuario.png" width="100px"></span>
    <span id="nombre"><%= user.Nombre %></span><hr>
    <span id="ubicacion"><%= user.Ubicación %></span><hr>
    <% user.Aficiones.forEach(aficion => { %>
      <span id="aficiones"><%= aficion %></span>
    <% }); %>
    <span id="chat"><img src="/img/LogoChat.png" width="100px" height="100px"></span>
    <span id="rechazar"><a href="/inicio"><img src="/img/LogoRechazar.png" width="100px" height="100px"></a></span>
  </div>
  <br>
  <div class="pie">
    <h3>© 2024 Affinity Solutions co.</h3>
  </div>
  <button id="boton-inicio-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
</body>
<script>
  // Función para cerrar sesión
  function cerrarSesion() {
    sessionStorage.removeItem('userID');
    window.location.href = '/'; // Redirigir a la página de inicio de sesión
  }
</script>
</html>
