<button align="left"><a href="/"><img src="/img/LogoAffinitySolSQRvar.png" width="100px"></a></button>
<h1 style="text-align: center; color: salmon; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: absolute; top: 5px; left: 39%;"> MANEJO DE LA RED SOCIAL</h1><br>

